// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.recommend-image-border {
    border: 3px solid;
    border-color: red;
}

.default-image-border {
    border: 3px solid;
    border-color: blue; 
}