// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pink{
    border: 3px solid;
    border-color: pink;
}

.yellow {
    border: 3px solid;
    border-color: yellow; 
}

.blue {
    border: 3px solid;
    border-color: blue;
}
.purple {
    border: 3px solid;
    border-color: purple;
}
.white {
    border: 3px solid;
    border-color: white;
}
.green {
    border: 3px solid;
    border-color: green;
}
.orange {
    border: 3px solid;
    border-color: orange;
}

.red {
    border: 3px solid;
    border-color: red;
}

.black {
    border: 3px solid;
    border-color: black;
}

